## Dependencies
node_modules/

## Build
dist/
build/
.next/

## IDE
.vscode/
.idea/

## Variáveis de ambiente
.env
.env.local
.env.*.local

## Logs
logs/
*.log
npm-debug.log*

## Testes
coverage/

## OS
.DS_Store
Thumbs.db
